@font-face {
    font-family: 'CircularStd';
    src: url(https://visiblexredrocks.com/CircularStd-Book.f6991213f0a8bcf6c00c.svg) format('svg');
}

@font-face {
  font-family: 'Piazzolla';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/piazzolla/v2/N0b52SlTPu5rIkWIZjVKKtYtfxYqZ4RJBFzFfYUjkSDdlqZgy7LYxkL43gb9BRy4k5M6aw.woff) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
